<div class="wrapper">
  <main class="page page-dashboard">
    <div class="page-dashboard__row">
        <axioma-sidebar></axioma-sidebar>
      <div class="page-dashboard__content dashboard-content">
        <axioma-header title="Ticket List" subtitle="120 tickets"></axioma-header>
        <div class="dashboard-content__body content-body">
          <div class="content-body__rows">
            <a href="#" class="content-body__row content-row _active">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_green"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_blue"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-high"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_blue"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-low"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_green"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_blue"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <div class="content-body__row content-row _red">
              <span class="content-row__icon content-row__icon_red"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </div>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <!-- <span class="content-row__lable icon-high">
                                </span> -->
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <!-- <span class="content-row__lable icon-high">
                                </span> -->
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-high"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <div class="content-body__row content-row _red">
              <span class="content-row__icon content-row__icon_red"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <!-- <span class="content-row__lable icon-high">
                                </span> -->
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </div>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <!-- <span class="content-row__lable icon-high">
                                </span> -->
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-high"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-high"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-high"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
            <a href="#" class="content-body__row content-row">
              <span class="content-row__icon content-row__icon_with"></span>
              <div class="content-row__column">
                <div class="content-row__title">Ticket title</div>
                <span class="content-row__lable icon-high"> </span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">User name</span>
                <span class="content-row__date">12 November 2022</span>
              </div>
              <div class="content-row__column">
                <span class="content-row__username">Responsible</span>
              </div>
            </a>
          </div>
        </div>
        <footer class="dashboard-content__footer footer-dash">
          <div class="footer-dash__left">
            <div class="footer-dash__drop">
              <div class="footer-dash__dropdown dropdown">
                <!-- add class dropdown__name "_active-drop" open drop -->
                <!-- exemple  <span class="dropdown__name _active-drop"></span> -->
                <span class="dropdown__name">
                  100
                  <span class="dropdown__icon">
                    <svg fill="none">
                      <path
                        d="M6.49996 8.20529C6.26698 8.20529 6.03402 8.11633 5.85639 7.93878L0.266684 2.34902C-0.0888946 1.99344 -0.0888946 1.41693 0.266684 1.0615C0.622118 0.706063 1.19851 0.706063 1.55412 1.0615L6.49996 6.00763L11.4458 1.06167C11.8014 0.706236 12.3778 0.706236 12.7332 1.06167C13.0889 1.4171 13.0889 1.99361 12.7332 2.34919L7.14354 7.93896C6.96582 8.11653 6.73286 8.20529 6.49996 8.20529Z"
                      />
                    </svg>
                  </span>
                </span>
                <ul class="dropdown__items">
                  <li>
                    <button class="dropdown__item dropdown__item_custum">
                      Custom
                    </button>
                  </li>
                  <li><button class="dropdown__item _active">100</button></li>
                  <li><button class="dropdown__item">50</button></li>
                  <li><button class="dropdown__item">30</button></li>
                  <li><button class="dropdown__item">20</button></li>
                </ul>
              </div>
              per page
            </div>
            <div class="footer-dash__center pagination">
              <nav class="pagination__nav">
                <ul class="pagination__list">
                  <li class="pagination__li pagination__li_icon">
                    <button
                      class="pagination__btn pagination__btn_icon pagination__btn_icon-l"
                    ></button>
                  </li>
                  <li class="pagination__li pagination__li_icon">
                    <button
                      class="pagination__btn pagination__btn_icon pagination__btn_icon-l_m"
                    ></button>
                  </li>

                  <li class="pagination__li">
                    <button class="pagination__item _active">1</button>
                  </li>
                  <li class="pagination__li">
                    <button class="pagination__item">3</button>
                  </li>
                  <li class="pagination__li">
                    <button class="pagination__item">4</button>
                  </li>
                  <li class="pagination__li">
                    <button class="pagination__item">5</button>
                  </li>
                  <li class="pagination__li">
                    <button class="pagination__item">...</button>
                  </li>
                  <li class="pagination__li">
                    <button class="pagination__item">20</button>
                  </li>

                  <li class="pagination__li pagination__li_icon">
                    <button
                      class="pagination__btn pagination__btn_icon pagination__btn_icon-r"
                    ></button>
                  </li>
                  <li class="pagination__li pagination__li_icon">
                    <button
                      class="pagination__btn pagination__btn_icon pagination__btn_icon-r_m"
                    ></button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <axioma-footer></axioma-footer>
        </footer>
      </div>
    </div>
  </main>
</div>
